<div class="GraphicsCarouselWidget Content" data-dojo-attach-point="content">
	<div class="CarouselControls" data-dojo-attach-point="carouselControlsDiv">
		<i class="fa fa-chevron-left fa-lg" data-dojo-attach-point="leftChevron" data-dojo-attach-event="click:gotoPreviousGraphic"></i>
		<div data-dojo-attach-point="graphicPlaceholderDiv" class="GraphicPlaceholderDiv">
			
		</div>
		<i class="fa fa-chevron-right fa-lg" data-dojo-attach-point="rightChevron" data-dojo-attach-event="click:gotoNextGraphic"></i>
	</div>
</div>