<div class="MenuModalWidget" data-dojo-attach-point="content">
	<div class="CloseButton" data-dojo-attach-point="closeButton" data-dojo-attach-event="click:collapse"><i class="fa fa-times"></i></div>
	<a target="_blank" href="index.html">Home</a>
	<a target="_blank" href="love-story.html">Our Story</a>
	<a target="_blank" href="faq.html">FAQ</a>
	<a target="_blank" href="https://www.facebook.com/events/1508822289440240/">Facebook Event</a>
	<!--<a target="_blank" href="#">Galleries</a>
	<a target="_blank" href="#">Registry</a>
	<a target="_blank" href="#">RSVP</a>-->
</div>