@font-face{
	font-family: 'Windsong';
	src: url('../fonts/Windsong/Windsong.ttf');
}

@font-face{
	font-family: 'Linden Hill';
	src: url('../fonts/linden-hill/LindenHill.otf');
}

@font-face{
	font-family: 'Linden Hill - Italic';
	src: url('../fonts/linden-hill/LindenHill-Italic.otf');
}


/*
TODO: On mouse move reposition background image slightly
TODO: Debounce or throttle background resize
TODO: Overlay on background image
*/
body {
  background-image: url('../images/beach_heart.jpg');
  height: 100vh;
  width: 100vw;
 background-size: 100% 100%;
  background-position-x: 50%;
  background-position-y: 50%;
}

@media (max-width: 769px) {
  body {
    background-size: 200vh auto;
  }
}

